@import 'bourbon';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#river {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.photo {
  transition-property: transform;
  transition-timing-function: linear;
  position: absolute;
  top: 10%;
  height: 80%;
  width: 100%;

  transform: translateX(105%);

  &.animating {
    transform: translateX(-105%);
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.photo-wrapper {
  vertical-align: middle;
  display: inline-block;
  text-align: right;

  img {
    display: block;
    max-height: 100%;
    box-shadow: 0 0 5px rgba(black, .2);
  }
}

.title {
  font-family: Helvetica;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  width: 160px;
  text-align: left;
}

// themes

body.sunrise {
  background: linear-gradient(#FFEE80, #FFE8BE);

  .photo {
    opacity: .8;
  }

  .title {
    background-color: rgba(#FFEE80, .8);
    color: shade(#FFEE80, 40%);
  }
}

body.day {
  background-color: rgb(245, 245, 245);

  .title {
    background-color: rgb(230, 230, 230);
    color: rgb(150, 150, 150);
  }
}

body.sunset {
  background: linear-gradient(#102040, #FFE8BE);

  .photo {
    opacity: .9;
  }

  .title {
    background-color: rgba(#102040, .8);
    color: tint(#102040, 40%);
  }
}

body.night {
  background: linear-gradient(rgb(30, 30, 30), rgb(10, 10, 10));

  .photo {
    filter: grayscale(100%);
    opacity: .5;
  }

  .title {
    background-color: black;
    color: rgb(70, 70, 70);
  }
}